/* css pour la banniere qui représente le bloc entier */
.lmj-banner{
    color : black;
    text-align: right;
    padding: 32px;
    border-bottom: solid 3px black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

/* espacement du titre avec le logo */
.lmj-title {
    padding-left: 32px;
}

/* Définition de taille de l'image */
.lmj-logo {
    height: 45px;
    width: 45px;
}